{
    "semi": false,
    "singleQuote": true,
    "printWidth": 200,
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "always",
      "asyncArrow": "always"
    }]
  }